/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}
 p:first-child{
	color:white;
	background-color:black;
}

p:nth-child(2){
	color:black;
}

p:last-child{
	color:red;
}

li{
	width:50%;
	padding:10px;
	background-color:white;
}
ul li:nth-child(2n){
	background-color:gray;
}
ul li:first-child{
	font-size:22px;
}
ul li:last-child{
	font-size:22px;
}
ul li:nth-child(3){
	background-color:pink;
}